button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    border: 0;
    background: transparent;
}

button span {
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background-color: #fff;
    transition: all .4s ease;
}

/* linha do meio some */
button.active span:nth-child(2) {
    opacity: 0;
    transform: scaleX(0);
}

/* primeira linha vira / */
button.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

/* terceira linha vira \ */
button.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}